@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #151515;
  color: white;
  font-family: Arial, sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #0e0e0e;
}

::-webkit-scrollbar-thumb {
  background: #886616;
  border-radius: 20px;
}
